body {
    margin: 0;
    border: 0;
}

.popup {
    width: 450px; /* Max is 800px */
    height: 600px; /* Max is 600px */
    display: flex;
    flex-direction: column;
}

/* Header */

.popup .header {
    background-color: royalblue;
    align-items: center;
    padding: 1em;
}

.popup .site_name {
    font-size: 2em;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.popup .online_container {
    font-size: 2em;
    width: 110px;
    float: right;
    align-items: center;
    flex-direction: row-reverse;
    display: flex;
}

.popup .users {
    margin-left: 0.5em;
}

/* Messages */

.popup .messages {
    flex-grow: 2;
    overflow-y: scroll;
    margin: 1em;
    padding: 1em;
}

/* Message */
.popup .message {
    display: flex;
}

.popup .msg_meta {
    margin-right: 1em;
    width: 7em;
}

.popup .msg_meta .sender_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.popup .msg_meta .time {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup .content {
    flex: 2;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.popup .message:not(:first-child) {
    padding-top: 0.5em;
    border-top: 1px black solid;
}

.popup .message:not(:last-child) {
    padding-bottom: 0.5em;
}

.popup .content_image {
    max-width: 283px;
    max-height: 450px;
    border-radius: 8px;
}

/* Send Bar */

.popup .send_container {
    margin: 0 1em 1em;
}

.popup .send_bar {
    display: flex;
    align-items: center;
}

.popup .message_bar {
    flex-grow: 2;
    font-size: 1.5em;
    padding: 0.5em;
    border: 2px black solid;
    border-radius: 3px;
}

.popup .message_bar:disabled {
    background: darkgrey;
}

.popup .send_button {
    filter: invert(0%);
    background: none;
    border: none;
    margin-left: 1em;
}

.popup .send_button:hover {
    filter: invert(25%);
    cursor: pointer;
}

.popup .send_button:active {
    filter: invert(50%);
    border: none;
}

.popup .send_button:focus {
    outline: none;
}

/* Primed Image */

.popup .primed_image_container {
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
}

.primed_image_container .primed {
    max-height: 60px;
    max-width: 300px;
    border-radius: 5px;
}

.primed_image_container .unprime {
    margin-left: 0.5em;
}

.popup .unprime:hover {
    filter: invert(25%);
    cursor: pointer;
}

.popup .unprime:active {
    filter: invert(50%);
    border: none;
}

.popup .unprime:focus {
    outline: none;
}

/* Scroll Bar */

.popup ::-webkit-scrollbar {
    width: 10px;
}

.popup ::-webkit-scrollbar-track {
    background: lightgrey;
}

.popup ::-webkit-scrollbar-thumb {
    background: black;
}

.popup ::-webkit-scrollbar-thumb:hover {
    background: grey;
}