body {
    margin: 0;
    border: 0;
}

.popup {
    width: 450px; /* Max is 800px */
    height: 600px; /* Max is 600px */
    display: flex;
    flex-direction: column;
}

/* Header */

.popup .header {
    background-color: royalblue;
    display: flex;
    align-items: center;
    padding: 1em;
}

.popup .site_name {
    font-size: 2em;
    flex-grow: 2;
}

.popup .online_counter {
    font-size: 2em;
}

/* Messages */

.popup .messages {
    flex-grow: 2;
    overflow-y: scroll;
    margin: 1em;
    padding: 1em;
}

/* Message */
.popup .message {
    display: flex;
}

.popup .msg_meta {
    margin-right: 1em;
}

.popup .msg_meta .time {
    font-style: italic;
}

.popup .content {
    flex-grow: 2;
}

.popup .message:not(:first-child) {
    padding-top: 0.5em;
    border-top: 1px black solid;
}

.popup .message:not(:last-child) {
    padding-bottom: 0.5em;
}

/* Send Bar */

.popup .send_bar {
    display: flex;
    margin: 1em;
    margin-top: 0;
    align-items: center;
}

.popup .message_bar {
    flex-grow: 2;
    font-size: 1.5em;
    padding: 0.5em;
    border: 2px black solid;
    border-radius: 3px;
}

.popup .send_button {
    filter: invert(0%);
    background: none;
    border: none;
    margin-left: 1em;
}

.popup .send_button:hover {
    filter: invert(25%);
    cursor: pointer;
}

.popup .send_button:active {
    filter: invert(50%);
    border: none;
}

.popup .send_button:focus {
    outline: none;
}

/* Scroll Bar */

.popup ::-webkit-scrollbar {
    width: 10px;
}

.popup ::-webkit-scrollbar-track {
    background: lightgrey;
}

.popup ::-webkit-scrollbar-thumb {
    background: black;
}

.popup ::-webkit-scrollbar-thumb:hover {
    background: grey;
}